body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #3c3c3c;
  background: #49495e;

  user-select: none;
}

h1 {
  font-size: 4em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
